*{
    box-sizing: border-box;
}
.nftpageContainer{
    height: 100vh;
    background-color: #191C1F;
    font-family: 'Inter'; 
    color: #F5F5F5;
    font-weight: 300;

}

.externalContainer{
    width: 95%;
    
    /* display:grid; */
    /* justify-content: center; */
    /* grid-template-columns: repeat(4, auto); */
    /* grid-template-rows: 100px 150px 50px; */
    
    /* grid-template-rows: repeat(6, 70vh); */
    border: 2px rgb(43, 46, 49) solid;
    padding: 3vw 7vw;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.nftContainer{
    width: 25vw;
    border:1px rgb(43, 46, 49) solid;
    padding: 10px;
    border-radius: 6px;
    opacity: 0.9;
    height:37vh;

}
.nftContainer:hover{
    cursor: pointer;
    opacity: 0.8;
}

.nftpageContainer img{
    border-radius: 6px;
    width: 100%;
    
    height: 100%;
    /* width:1vw; */
}

.informationContainer{

    /* border: 1px red solid; */
    margin-left: 1vw;
    font-family: 'Inter';
    font-weight: 300;
    padding-top: 3vh;
}

.title{
    font-weight: 400;
}

.informationContainer div{
    padding-top: 0.9vh;
}

.title-info{
    font-weight: 100;
    font-size: 0.89rem;
    font-family: 'Inter';
    padding-left: 3px;
}

.buybtn{
    font-family:'Inter';
    font-size: 0.9rem;
    font-weight: 500;
    color: black;
    padding: 0.4rem 0.6rem;
    border: none;
    border-radius: 5px;
    margin-top: 1.9vh;
    
}

.buybtn{
    cursor: pointer;
}

.buybtnContainer{
   
    padding-left: 0vh;
}

.ownertext{
    font-family: 'Oswald';
}