.nav-container{
    /* display: flex; */
    /* border: 1px red solid; */
    padding: 1.3rem;
    height: 12vh;
    background-color: #191C1F;
   
}
.nav-container h1{
    padding-left: 1.2vw;
    /* #064663 -> #04293A */
    color: linear-gradient(to right,#064663, #04293A );
    background: -webkit-linear-gradient(white,lightgray);
    /* color: red; */
    /* background: -webkit-linear-gradient(#064663, #2f6fa3); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* border: 1px red solid; */
    width: fit-content;

}
.nav-container h1:hover{
    cursor: pointer;
}
.nav-container input{
    /* width: 25vw; */
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color:#222528;
    /* margin-left: 30vw; */
    /* padding-left: 2rem; */
    font-family: 'Inter';
    color:#56575a;
    padding: 1rem;
    padding-left: 2.5rem ;
}
.nav-container input:hover{
    border: 1px #2A2C30 solid;
}
.nav-container input:focus{
    outline: none;
    border: 1px #757679 solid;
}


.nav-container button{
    color: #222528;
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
    /* padding: 1rem; */
    font-family: 'Inter';
    font-weight: 500;
    
}
.nav-container button:hover{
    cursor: pointer;
    opacity: 0.93;
}


.magnifying-container{
    /* border: 1px red solid; */
    /* padding-left: 1.2vw; */
    position: relative;
    left: 1.6vw; 
    /* 1.6 */
    background-color: #222528;
}
.magnifyingIcon{
    background-color: #222528;
}

.combineOne{
    display: flex;
    /* border: 1px blue solid; */
    align-items:center;
}

.combineTwo{
    display: flex;
    /* border: 1px red solid; */
    align-items: center;
}

.combineThree{
    display:flex;
    /* border: 1px white solid; */
    /* align-items: center; */
    
}

.nav-container{
    /* border: 1px green solid; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}


.mainLogo{
    flex:0.5;

}
.homeIcon{
    text-decoration: none;
}

.combineThree{
    flex: 1;
}

.combineTwo{
    flex: 0.8;
}

.combineOne{
    flex: 1;
    justify-content: right;
}

.userIcon{
    /* border: 1px green solid; */

}

.walletContainer{
    /* border: 1px red solid; */
    color: #222528;
    background-color: #FFFFFF;
    padding: 0.7rem;
    border-radius:14px;
    padding: 0.7rem 1.1rem;
    margin-right: 1.5rem;
    font-size: 0.73rem;
    

}

.walletContainer:hover{
    opacity: 0.9;
    cursor: pointer;
}
.walletContainer a{
    font-family: 'Inter';
    font-weight: 600;
    color: #222528;
    text-decoration: none;
}


.mainUserIcon:hover{
    opacity: 0.9;
}
.mainUserIcon{
    font-size: 2.4rem;
}
/* User ICON */
.userIcon{

    padding-right: 1vw;
}

.input-container{
    width: 100%;
}