*{

    font-family: 'Oswald', sans-serif; 
    /* color: #F5F5F5; */
    /* background-color: #191C1F; */
    box-sizing: border-box;
    color:white;

}
html,body{
    background-color: #191C1F;

}
